<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsAssessDefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsAssessDef">
        <id column="ASSESSEID" property="assesseid" />
        <result column="ENTRYID" property="entryid" />
        <result column="EMPFLAG" property="empflag" />
        <result column="USEMMFLAG" property="usemmflag" />
        <result column="CUSTOMFLAG" property="customflag" />
        <result column="GOODSFLAG" property="goodsflag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ASSESSEID, ENTRYID, EMPFLAG, USEMMFLAG, CUSTOMFLAG, GOODSFLAG
    </sql>

</mapper>
