<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsAccSumMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsAccSum">
        <id column="SEQID" property="seqid" />
        <result column="USEMM" property="usemm" />
        <result column="ACCID" property="accid" />
        <result column="COMPANYID" property="companyid" />
        <result column="GOODSID" property="goodsid" />
        <result column="DEPTID" property="deptid" />
        <result column="EMPLOYEEID" property="employeeid" />
        <result column="SUMDEBITQTY" property="sumdebitqty" />
        <result column="SUMDEBITMONEY" property="sumdebitmoney" />
        <result column="SUMCREDITQTY" property="sumcreditqty" />
        <result column="SUMCREDITMONEY" property="sumcreditmoney" />
        <result column="DEBITTAXMONEY" property="debittaxmoney" />
        <result column="CREDEBITTAXMONEY" property="credebittaxmoney" />
        <result column="AGENTID" property="agentid" />
        <result column="CONTACTID" property="contactid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEQID, USEMM, ACCID, COMPANYID, GOODSID, DEPTID, EMPLOYEEID, SUMDEBITQTY, SUMDEBITMONEY, SUMCREDITQTY, SUMCREDITMONEY, DEBITTAXMONEY, CREDEBITTAXMONEY, AGENTID, CONTACTID
    </sql>

</mapper>
