<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsAssessCalcdefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsAssessCalcdef">
        <id column="DEFID" property="defid" />
        <result column="SETDAYS" property="setdays" />
        <result column="AWARDRATE" property="awardrate" />
        <result column="PUNISHRATE" property="punishrate" />
        <result column="CREDATE" property="credate" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="MEMO" property="memo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEFID, SETDAYS, AWARDRATE, PUNISHRATE, CREDATE, INPUTMANID, MEMO
    </sql>

</mapper>
