<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsAssessSaproMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsAssessSapro">
        <id column="DTLID" property="dtlid" />
        <result column="DOCID" property="docid" />
        <result column="MONEY1" property="money1" />
        <result column="MONEY2" property="money2" />
        <result column="ASSRATE" property="assrate" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="MEMO" property="memo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DTLID, DOCID, MONEY1, MONEY2, ASSRATE, INPUTMANID, MEMO
    </sql>

</mapper>
