<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsAccDocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsAccDoc">
        <id column="SEQID" property="seqid" />
        <result column="CERTID" property="certid" />
        <result column="ACCID" property="accid" />
        <result column="COMPANYID" property="companyid" />
        <result column="GOODSID" property="goodsid" />
        <result column="DEPTID" property="deptid" />
        <result column="EMPLOYEEID" property="employeeid" />
        <result column="DEBITQTY" property="debitqty" />
        <result column="DEBITMONEY" property="debitmoney" />
        <result column="CREDITQTY" property="creditqty" />
        <result column="CREDITMONEY" property="creditmoney" />
        <result column="SOURCETABLE" property="sourcetable" />
        <result column="SOURCEID" property="sourceid" />
        <result column="BUSIDATE" property="busidate" />
        <result column="SUMMARY" property="summary" />
        <result column="TRANSACTIONID" property="transactionid" />
        <result column="COMEFROM" property="comefrom" />
        <result column="INITFLAG" property="initflag" />
        <result column="AGENTID" property="agentid" />
        <result column="CONTACTID" property="contactid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEQID, CERTID, ACCID, COMPANYID, GOODSID, DEPTID, EMPLOYEEID, DEBITQTY, DEBITMONEY, CREDITQTY, CREDITMONEY, SOURCETABLE, SOURCEID, BUSIDATE, SUMMARY, TRANSACTIONID, COMEFROM, INITFLAG, AGENTID, CONTACTID
    </sql>

</mapper>
