<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsBoxupDocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsBoxupDoc">
        <id column="BOXDOCID" property="boxdocid" />
        <result column="BOXNO" property="boxno" />
        <result column="BOXMANID" property="boxmanid" />
        <result column="BOXDATE" property="boxdate" />
        <result column="CUSTOMID" property="customid" />
        <result column="OPERATIONTYPE" property="operationtype" />
        <result column="USESTATUS" property="usestatus" />
        <result column="ZX_DESKNO" property="zxDeskno" />
        <result column="ZX_LOADCARFLAG" property="zxLoadcarflag" />
        <result column="VEHICLEID" property="vehicleid" />
        <result column="ZX_LOADMANID" property="zxLoadmanid" />
        <result column="ZX_LOADDATE" property="zxLoaddate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BOXNO, BOXMANID, BOXDATE, BOXDOCID, CUSTOMID, OPERATIONTYPE, USESTATUS, ZX_DESKNO, ZX_LOADCARFLAG, VEHICLEID, ZX_LOADMANID, ZX_LOADDATE
    </sql>

</mapper>
