<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsCnsStMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsCnsSt">
        <id column="STSEQID" property="stseqid" />
        <result column="ENTRYSEQID" property="entryseqid" />
        <result column="STORAGEID" property="storageid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STSEQID, ENTRYSEQID, STORAGEID
    </sql>

</mapper>
