<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsCreditLevel6Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsCreditLevel6">
        <id column="ENTRYID" property="entryid" />
        <result column="CUSTOMID" property="customid" />
        <result column="CREDIT" property="credit" />
        <result column="EXEC_ORDER_ID" property="execOrderId" />
        <result column="OWEMONEY" property="owemoney" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ENTRYID, CUSTOMID, CREDIT, EXEC_ORDER_ID, OWEMONEY
    </sql>

</mapper>
