<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsCheckAreasMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsCheckAreas">
        <id column="CHECKAREASID" property="checkareasid" />
        <result column="CHECKAREASNAME" property="checkareasname" />
        <result column="STORERID" property="storerid" />
        <result column="CREDATE" property="credate" />
        <result column="INPUTMANID" property="inputmanid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CHECKAREASID, CHECKAREASNAME, STORERID, CREDATE, INPUTMANID
    </sql>

</mapper>
