<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsContainerDefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsContainerDef">
        <id column="CONTAINERID" property="containerid" />
        <result column="CONTAINERNO" property="containerno" />
        <result column="USESTATUS" property="usestatus" />
        <result column="STORERID" property="storerid" />
        <result column="MEMO" property="memo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CONTAINERID, CONTAINERNO, USESTATUS, STORERID, MEMO
    </sql>

</mapper>
