<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsCreditdaysLevel3Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsCreditdaysLevel3">
        <id column="SALERID" property="salerid" />
        <result column="CUSTOMID" property="customid" />
        <result column="DAYS" property="days" />
        <result column="EXEC_ORDER_ID" property="execOrderId" />
        <result column="OWEDATE" property="owedate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SALERID, CUSTOMID, DAYS, EXEC_ORDER_ID, OWEDATE
    </sql>

</mapper>
