<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsCreditCancelDtlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsCreditCancelDtl">
        <id column="CREDITCANCELDTLID" property="creditcanceldtlid" />
        <result column="CREDITCANCELDOCID" property="creditcanceldocid" />
        <result column="SALERID" property="salerid" />
        <result column="CUSTOMID" property="customid" />
        <result column="CREDIT_LEVEL" property="creditLevel" />
        <result column="USESTATUS" property="usestatus" />
        <result column="ADJUSTITEM" property="adjustitem" />
        <result column="WFUSESTATUS" property="wfusestatus" />
        <result column="WFPROCESS" property="wfprocess" />
        <result column="WFMEMO" property="wfmemo" />
        <result column="DTLMEMO" property="dtlmemo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CREDITCANCELDTLID, CREDITCANCELDOCID, SALERID, CUSTOMID, CREDIT_LEVEL, USESTATUS, ADJUSTITEM, WFUSESTATUS, WFPROCESS, WFMEMO, DTLMEMO
    </sql>

</mapper>
