<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsCreditAdjustDocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsCreditAdjustDoc">
        <id column="CREDIT_ADJUST_DOC_ID" property="creditAdjustDocId" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="INPUTDATE" property="inputdate" />
        <result column="ENTRYID" property="entryid" />
        <result column="DOCMEMO" property="docmemo" />
        <result column="BEGINDATE" property="begindate" />
        <result column="ENDDATE" property="enddate" />
        <result column="ADJUSTTYPE" property="adjusttype" />
        <result column="USESTATUS" property="usestatus" />
        <result column="IMPORTID" property="importid" />
        <result column="EXECUTEID" property="executeid" />
        <result column="EXECUTEDATE" property="executedate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CREDIT_ADJUST_DOC_ID, INPUTMANID, INPUTDATE, ENTRYID, DOCMEMO, BEGINDATE, ENDDATE, ADJUSTTYPE, USESTATUS, IMPORTID, EXECUTEID, EXECUTEDATE
    </sql>

</mapper>
