<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsEmployeeSignRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsEmployeeSignRecord">
        <id column="RECORDID" property="recordid" />
        <result column="EMPLOYEEID" property="employeeid" />
        <result column="EMPLOYEENAME" property="employeename" />
        <result column="EMPLOYEETEL" property="employeetel" />
        <result column="SIGNOUTTIME" property="signouttime" />
        <result column="SIGNINTIME" property="signintime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RECORDID, EMPLOYEEID, EMPLOYEENAME, EMPLOYEETEL, SIGNOUTTIME, SIGNINTIME
    </sql>

</mapper>
