<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsEntrygdspriceCancelRecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsEntrygdspriceCancelRec">
        <id column="CANCELRECID" property="cancelrecid" />
        <result column="GOODSID" property="goodsid" />
        <result column="PRICEID" property="priceid" />
        <result column="OLDPRICE" property="oldprice" />
        <result column="NEWPRICE" property="newprice" />
        <result column="REASON" property="reason" />
        <result column="CREDATE" property="credate" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="ENTRYID" property="entryid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CANCELRECID, GOODSID, PRICEID, OLDPRICE, NEWPRICE, REASON, CREDATE, INPUTMANID, ENTRYID
    </sql>

</mapper>
