<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsExaminePrtypeDefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsExaminePrtypeDef">
        <id column="SEQID" property="seqid" />
        <result column="COMPANYID" property="companyid" />
        <result column="EXAMPRICEID" property="exampriceid" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="CREDATE" property="credate" />
        <result column="MEMO" property="memo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEQID, COMPANYID, EXAMPRICEID, INPUTMANID, CREDATE, MEMO
    </sql>

</mapper>
