<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsForbidSalesBakMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsForbidSalesBak">
        <result column="FORBIDID" property="forbidid" />
        <result column="CUSTOMSETID" property="customsetid" />
        <result column="GOODSSETID" property="goodssetid" />
        <result column="FORBIDFLAG" property="forbidflag" />
        <result column="USESTATUS" property="usestatus" />
        <result column="MEMO" property="memo" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="CREDATE" property="credate" />
        <result column="ENTRYID" property="entryid" />
        <result column="AGENTID" property="agentid" />
        <result column="CONTACTID" property="contactid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        FORBIDID, CUSTOMSETID, GOODSSETID, FORBIDFLAG, USESTATUS, MEMO, INPUTMANID, CREDATE, ENTRYID, AGENTID, CONTACTID
    </sql>

</mapper>
