<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsFormulamanageDocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsFormulamanageDoc">
        <id column="FORMULADOCID" property="formuladocid" />
        <result column="FORMULANAME" property="formulaname" />
        <result column="ENTRYID" property="entryid" />
        <result column="GOODSID" property="goodsid" />
        <result column="GOODSDTLID" property="goodsdtlid" />
        <result column="USESTATUS" property="usestatus" />
        <result column="COMFIRMMANID" property="comfirmmanid" />
        <result column="COMFIRMDATE" property="comfirmdate" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="CREDATE" property="credate" />
        <result column="PLACEPOINTID" property="placepointid" />
        <result column="FORMULACODE" property="formulacode" />
        <result column="MEMO" property="memo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        FORMULADOCID, FORMULANAME, ENTRYID, GOODSID, GOODSDTLID, USESTATUS, COMFIRMMANID, COMFIRMDATE, INPUTMANID, CREDATE, PLACEPOINTID, FORMULACODE, MEMO
    </sql>

</mapper>
