<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsPresOutDocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsPresOutDoc">
        <id column="PRESOUTID" property="presoutid" />
        <result column="CREDATE" property="credate" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="ENTRYID" property="entryid" />
        <result column="CUSTOMID" property="customid" />
        <result column="CUSTOMNAME" property="customname" />
        <result column="POLICYTYPE" property="policytype" />
        <result column="COMEFROM" property="comefrom" />
        <result column="DTL_LINES" property="dtlLines" />
        <result column="TARGETDATE" property="targetdate" />
        <result column="PRINTFLAG" property="printflag" />
        <result column="PRINTMANID" property="printmanid" />
        <result column="PRINTDATE" property="printdate" />
        <result column="CONFIRMMANID" property="confirmmanid" />
        <result column="CONFIRMDATE" property="confirmdate" />
        <result column="USESTATUS" property="usestatus" />
        <result column="MEMO" property="memo" />
        <result column="SOURCETABLE" property="sourcetable" />
        <result column="SOURCEID" property="sourceid" />
        <result column="POLICYID" property="policyid" />
        <result column="PLACEPOINTID" property="placepointid" />
        <result column="PLACESUPPLYID" property="placesupplyid" />
        <result column="ZX_BH_FLAG" property="zxBhFlag" />
        <result column="ZX_ORDERNUMBER" property="zxOrdernumber" />
        <result column="CMDSETID" property="cmdsetid" />
        <result column="ZXDOCCOL1" property="zxdoccol1" />
        <result column="ZXDOCCOL2" property="zxdoccol2" />
        <result column="ZXDOCCOL3" property="zxdoccol3" />
        <result column="JD_ORDER_ID" property="jdOrderId" />
        <result column="JD_WRITE_BACK_FLAG" property="jdWriteBackFlag" />
        <result column="AUTO_CONFIRM" property="autoConfirm" />
        <result column="B2B_WRITE_BACK_FLAG" property="b2bWriteBackFlag" />
        <result column="B2B_ORDER_ID" property="b2bOrderId" />
        <result column="B2B_AMOUNT_TOTAL" property="b2bAmountTotal" />
        <result column="B2B_AMOUNT_DISCOUNT" property="b2bAmountDiscount" />
        <result column="B2B_AMOUNT_PAY" property="b2bAmountPay" />
        <result column="B2B_AMOUNT_DELIVERY" property="b2bAmountDelivery" />
        <result column="B2B_ORDER_TYPE" property="b2bOrderType" />
        <result column="B2B_PAY_TYPE" property="b2bPayType" />
        <result column="B2B_ORDER_NO" property="b2bOrderNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PRESOUTID, CREDATE, INPUTMANID, ENTRYID, CUSTOMID, CUSTOMNAME, POLICYTYPE, COMEFROM, DTL_LINES, TARGETDATE, PRINTFLAG, PRINTMANID, PRINTDATE, CONFIRMMANID, CONFIRMDATE, USESTATUS, MEMO, SOURCETABLE, SOURCEID, POLICYID, PLACEPOINTID, PLACESUPPLYID, ZX_BH_FLAG, ZX_ORDERNUMBER, CMDSETID, ZXDOCCOL1, ZXDOCCOL2, ZXDOCCOL3, JD_ORDER_ID, JD_WRITE_BACK_FLAG, AUTO_CONFIRM, B2B_WRITE_BACK_FLAG, B2B_ORDER_ID, B2B_AMOUNT_TOTAL, B2B_AMOUNT_DISCOUNT, B2B_AMOUNT_PAY, B2B_AMOUNT_DELIVERY, B2B_ORDER_TYPE, B2B_PAY_TYPE, B2B_ORDER_NO
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="B2B_Column_List">
        MEMO, PRESOUTID, USESTATUS,PRESOUTID
    </sql>

    <select id="queryCustomid"
            resultType="String">
       select customid  from bms_pres_out_doc where presoutid =#{presoutid}

    </select>
    <select id="getStorerid"
            resultType="java.lang.Integer">
      select b.phystoreid
           from bms_st_io_doc_tmp a, bms_st_def b
          where a.storageid = b.storageid
            and sourcetable =18
            and a.sourceid in
                (select presoutdtlid from bms_pres_out_dtl where presoutid = #{presoutid})
          group by phystoreid

    </select>


</mapper>
