<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsRateGoodsRelationsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsRateGoodsRelations">
        <id column="RELATIONSID" property="relationsid" />
        <result column="RATEID" property="rateid" />
        <result column="GOODSID" property="goodsid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RATEID, GOODSID, RELATIONSID
    </sql>

</mapper>
