<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsStEraDocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsStEraDoc">
        <id column="ERAID" property="eraid" />
        <result column="CREDATE" property="credate" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="COMPANYID" property="companyid" />
        <result column="STORAGEID" property="storageid" />
        <result column="INOUTFLAG" property="inoutflag" />
        <result column="COMEFROM" property="comefrom" />
        <result column="GOTO" property="goto" />
        <result column="MEMO" property="memo" />
        <result column="REASON" property="reason" />
        <result column="USESTATUS" property="usestatus" />
        <result column="RGDTLID" property="rgdtlid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ERAID, CREDATE, INPUTMANID, COMPANYID, STORAGEID, INOUTFLAG, COMEFROM, GOTO, MEMO, REASON, USESTATUS, RGDTLID
    </sql>

</mapper>
