<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsStQtyCutTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsStQtyCutType">
        <id column="ID" property="id" />
        <result column="CUTID" property="cutid" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="STATUS" property="status" />
        <result column="CREATEDATE" property="createdate" />
        <result column="ISCRE" property="iscre" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CUTID, INPUTMANID, STATUS, CREATEDATE, ISCRE
    </sql>

</mapper>
