<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsStAdjustTmpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsStAdjustTmp">
        <id column="STADJUSTID" property="stadjustid" />
        <result column="CREDATE" property="credate" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="STORAGEID" property="storageid" />
        <result column="MEMO" property="memo" />
        <result column="ADJUSTMANID" property="adjustmanid" />
        <result column="ADJUSTDATE" property="adjustdate" />
        <result column="COMEFROM" property="comefrom" />
        <result column="SOURCEID" property="sourceid" />
        <result column="COMPANYID" property="companyid" />
        <result column="ADDRESS" property="address" />
        <result column="TRANSLINEID" property="translineid" />
        <result column="GOODSID" property="goodsid" />
        <result column="GOODSDTLID" property="goodsdtlid" />
        <result column="BATCHID" property="batchid" />
        <result column="LOTID" property="lotid" />
        <result column="POSID" property="posid" />
        <result column="GOODSSTATUSID" property="goodsstatusid" />
        <result column="NEWPOSID" property="newposid" />
        <result column="GOODSQTY" property="goodsqty" />
        <result column="PRINTCOUNT" property="printcount" />
        <result column="PRINTDATE" property="printdate" />
        <result column="PRINTMANID" property="printmanid" />
        <result column="ENTRYID" property="entryid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STADJUSTID, CREDATE, INPUTMANID, STORAGEID, MEMO, ADJUSTMANID, ADJUSTDATE, COMEFROM, SOURCEID, COMPANYID, ADDRESS, TRANSLINEID, GOODSID, GOODSDTLID, BATCHID, LOTID, POSID, GOODSSTATUSID, NEWPOSID, GOODSQTY, PRINTCOUNT, PRINTDATE, PRINTMANID, ENTRYID
    </sql>

</mapper>
