<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsStStorehouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsStStorehouse">
        <id column="STHOUSEID" property="sthouseid" />
        <result column="STHOUSENO" property="sthouseno" />
        <result column="STHOUSENAME" property="sthousename" />
        <result column="DEFAULTMASTERID" property="defaultmasterid" />
        <result column="USESTATUS" property="usestatus" />
        <result column="STORERID" property="storerid" />
        <result column="GOODSUNITFLAG" property="goodsunitflag" />
        <result column="POSTCOUNT" property="postcount" />
        <result column="POSTUSEDCOUNT" property="postusedcount" />
        <result column="RFPUTAWAYFLAG" property="rfputawayflag" />
        <result column="WORKMODEL" property="workmodel" />
        <result column="UNCHANGEPOS" property="unchangepos" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STHOUSEID, STHOUSENO, STHOUSENAME, DEFAULTMASTERID, USESTATUS, STORERID, GOODSUNITFLAG, POSTCOUNT, POSTUSEDCOUNT, RFPUTAWAYFLAG, WORKMODEL, UNCHANGEPOS
    </sql>

</mapper>
