<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSuRebateDocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSuRebateDoc">
        <id column="REBATEDOCID" property="rebatedocid" />
        <result column="ENTRYID" property="entryid" />
        <result column="COMPANYID" property="companyid" />
        <result column="STARTDATE" property="startdate" />
        <result column="ENDDATE" property="enddate" />
        <result column="DOCTYPE" property="doctype" />
        <result column="DOCDATETYPE" property="docdatetype" />
        <result column="CAFORMULA" property="caformula" />
        <result column="ROUNDMETHOD" property="roundmethod" />
        <result column="INTPRECISION" property="intprecision" />
        <result column="FREQUENCY" property="frequency" />
        <result column="FORM" property="form" />
        <result column="REBATEMEMO" property="rebatememo" />
        <result column="SIGNMANID" property="signmanid" />
        <result column="PROTOCALDOCID" property="protocaldocid" />
        <result column="MEMO" property="memo" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="INPUTDATE" property="inputdate" />
        <result column="USESTATUS" property="usestatus" />
        <result column="CONFIRMMANID" property="confirmmanid" />
        <result column="CONFIRMDATE" property="confirmdate" />
        <result column="INVALIDMANID" property="invalidmanid" />
        <result column="INVALIDDATE" property="invaliddate" />
        <result column="NOTEXAMPLEQTY" property="notexampleqty" />
        <result column="YESEXAMPLEQTY" property="yesexampleqty" />
        <result column="REALMONEY" property="realmoney" />
        <result column="TOTAL_LINE" property="totalLine" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        REBATEDOCID, ENTRYID, COMPANYID, STARTDATE, ENDDATE, DOCTYPE, DOCDATETYPE, CAFORMULA, ROUNDMETHOD, INTPRECISION, FREQUENCY, FORM, REBATEMEMO, SIGNMANID, PROTOCALDOCID, MEMO, INPUTMANID, INPUTDATE, USESTATUS, CONFIRMMANID, CONFIRMDATE, INVALIDMANID, INVALIDDATE, NOTEXAMPLEQTY, YESEXAMPLEQTY, REALMONEY, TOTAL_LINE
    </sql>

</mapper>
