<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSaSettleDtlHisMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSaSettleDtlHis">
        <result column="SASETTLEID" property="sasettleid" />
        <result column="SASETTLEDTLID" property="sasettledtlid" />
        <result column="PRINTNO" property="printno" />
        <result column="PRINTLINE" property="printline" />
        <result column="GOODSID" property="goodsid" />
        <result column="GOODSQTY" property="goodsqty" />
        <result column="UNITPRICE" property="unitprice" />
        <result column="TOTAL_LINE" property="totalLine" />
        <result column="TAXRATE" property="taxrate" />
        <result column="TAXMONEY" property="taxmoney" />
        <result column="NOTAXMONEY" property="notaxmoney" />
        <result column="SALERID" property="salerid" />
        <result column="SALESDEPTID" property="salesdeptid" />
        <result column="COSTINGMONEY" property="costingmoney" />
        <result column="DTLMEMO" property="dtlmemo" />
        <result column="RECFINFLAG" property="recfinflag" />
        <result column="SHOULESETTLEMONEY" property="shoulesettlemoney" />
        <result column="INVDATE" property="invdate" />
        <result column="INVNO" property="invno" />
        <result column="TOTALRECQTY" property="totalrecqty" />
        <result column="TOTALRECMONEY" property="totalrecmoney" />
        <result column="CORRECTFLAG" property="correctflag" />
        <result column="SKCERTID" property="skcertid" />
        <result column="TAXFLAG" property="taxflag" />
        <result column="INVALIDFLAG" property="invalidflag" />
        <result column="INVALIDMANID" property="invalidmanid" />
        <result column="INVALIDTIME" property="invalidtime" />
        <result column="COSTINGPRICE" property="costingprice" />
        <result column="OLDSASETTLEDTLID" property="oldsasettledtlid" />
        <result column="ADJSTFLAG" property="adjstflag" />
        <result column="OLDMONEY" property="oldmoney" />
        <result column="BILLID" property="billid" />
        <result column="DISCOUNTCOST" property="discountcost" />
        <result column="INVPRICE" property="invprice" />
        <result column="INVCODE" property="invcode" />
        <result column="IMPDTLID" property="impdtlid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SASETTLEID, SASETTLEDTLID, PRINTNO, PRINTLINE, GOODSID, GOODSQTY, UNITPRICE, TOTAL_LINE, TAXRATE, TAXMONEY, NOTAXMONEY, SALERID, SALESDEPTID, COSTINGMONEY, DTLMEMO, RECFINFLAG, SHOULESETTLEMONEY, INVDATE, INVNO, TOTALRECQTY, TOTALRECMONEY, CORRECTFLAG, SKCERTID, TAXFLAG, INVALIDFLAG, INVALIDMANID, INVALIDTIME, COSTINGPRICE, OLDSASETTLEDTLID, ADJSTFLAG, OLDMONEY, BILLID, DISCOUNTCOST, INVPRICE, INVCODE, IMPDTLID
    </sql>

</mapper>
