<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSuRebateRemainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSuRebateRemain">
        <id column="REMAINID" property="remainid" />
        <result column="ENTRYID" property="entryid" />
        <result column="COMPANYID" property="companyid" />
        <result column="GOODSID" property="goodsid" />
        <result column="EMPLOYEEID" property="employeeid" />
        <result column="REMAIN" property="remain" />
        <result column="USEMM" property="usemm" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        REMAINID, ENTRYID, COMPANYID, GOODSID, EMPLOYEEID, REMAIN, USEMM
    </sql>

</mapper>
