<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsStReceiveGoodsDtlTmpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsStReceiveGoodsDtlTmp">
        <id column="SEQID" property="seqid" />
        <result column="GOODSID" property="goodsid" />
        <result column="GOODSDTLID" property="goodsdtlid" />
        <result column="LOTID" property="lotid" />
        <result column="GOODSSTATUSID" property="goodsstatusid" />
        <result column="POSID" property="posid" />
        <result column="GOODSQTY" property="goodsqty" />
        <result column="STHOUSEID" property="sthouseid" />
        <result column="RGGOODSDTLID" property="rggoodsdtlid" />
        <result column="STORAGEID" property="storageid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        GOODSID, GOODSDTLID, LOTID, GOODSSTATUSID, POSID, GOODSQTY, STHOUSEID, RGGOODSDTLID, STORAGEID, SEQID
    </sql>

</mapper>
