<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSaDoctosetHisMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSaDoctosetHis">
        <result column="SALESDTLID" property="salesdtlid" />
        <result column="SASETTLEDTLID" property="sasettledtlid" />
        <result column="GOODSQTY" property="goodsqty" />
        <result column="TOTAL_LINE" property="totalLine" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SALESDTLID, SASETTLEDTLID, GOODSQTY, TOTAL_LINE
    </sql>

</mapper>
