<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSuRebateSetInitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSuRebateSetInit">
        <id column="SETID" property="setid" />
        <result column="COMPANYID" property="companyid" />
        <result column="ENTRYID" property="entryid" />
        <result column="USESTATUS" property="usestatus" />
        <result column="CREDATE" property="credate" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="TYPE" property="type" />
        <result column="TOTAL_LINE" property="totalLine" />
        <result column="CONFIRMMANID" property="confirmmanid" />
        <result column="CONFIRMDATE" property="confirmdate" />
        <result column="GOODSID" property="goodsid" />
        <result column="MEMO" property="memo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SETID, COMPANYID, ENTRYID, USESTATUS, CREDATE, INPUTMANID, TYPE, TOTAL_LINE, CONFIRMMANID, CONFIRMDATE, GOODSID, MEMO
    </sql>

</mapper>
