<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSaInvInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSaInvInfo">
        <id column="INFOID" property="infoid" />
        <result column="COMPANYID" property="companyid" />
        <result column="INVCOMPANYNAME" property="invcompanyname" />
        <result column="TAXNO" property="taxno" />
        <result column="TELEPHONE" property="telephone" />
        <result column="ADDRESS" property="address" />
        <result column="BANKNAME" property="bankname" />
        <result column="ACCNO" property="accno" />
        <result column="MEMO" property="memo" />
        <result column="COMPANYFUNCTION" property="companyfunction" />
        <result column="MAIL" property="mail" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INFOID, COMPANYID, INVCOMPANYNAME, TAXNO, TELEPHONE, ADDRESS, BANKNAME, ACCNO, MEMO, COMPANYFUNCTION, MAIL
    </sql>

</mapper>
