<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSaqtyStaticMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSaqtyStatic">
        <id column="ENTRYID" property="entryid" />
        <result column="GOODSID" property="goodsid" />
        <result column="BUSITYPE" property="busitype" />
        <result column="LSTMONTYQTY" property="lstmontyqty" />
        <result column="BEFORELSTMMQTY" property="beforelstmmqty" />
        <result column="LSTYEARREFQTY" property="lstyearrefqty" />
        <result column="STATICDATE" property="staticdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ENTRYID, GOODSID, BUSITYPE, LSTMONTYQTY, BEFORELSTMMQTY, LSTYEARREFQTY, STATICDATE
    </sql>

</mapper>
