<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSnsGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSnsGoods">
        <id column="SEQID" property="seqid" />
        <result column="SUPPLYID" property="supplyid" />
        <result column="GOODSID" property="goodsid" />
        <result column="AGENTID" property="agentid" />
        <result column="SUPAGENTID" property="supagentid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEQID, SUPPLYID, GOODSID, AGENTID, SUPAGENTID
    </sql>

</mapper>
