<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsStFixUserModelDtlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsStFixUserModelDtl">
        <id column="USERFIXMODEL" property="userfixmodel" />
        <result column="FIXMODELORDER" property="fixmodelorder" />
        <result column="MODELID" property="modelid" />
        <result column="QUONDAMID" property="quondamid" />
        <result column="PLACEPOINTID" property="placepointid" />
        <result column="STORAGEID" property="storageid" />
        <result column="QUBUFFID" property="qubuffid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USERFIXMODEL, FIXMODELORDER, MODELID, QUONDAMID, PLACEPOINTID, STORAGEID, QUBUFFID
    </sql>

</mapper>
