<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSkCostpriceInitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSkCostpriceInit">
        <id column="SEQID" property="seqid" />
        <result column="CREDATE" property="credate" />
        <result column="STOCKID" property="stockid" />
        <result column="GOODSID" property="goodsid" />
        <result column="BATCHID" property="batchid" />
        <result column="COSTPRICE" property="costprice" />
        <result column="INPUTMANID" property="inputmanid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEQID, CREDATE, STOCKID, GOODSID, BATCHID, COSTPRICE, INPUTMANID
    </sql>

</mapper>
