<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSuProtGoodsDtlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSuProtGoodsDtl">
        <id column="PROTDTLID" property="protdtlid" />
        <result column="PROTDOCID" property="protdocid" />
        <result column="GOODSID" property="goodsid" />
        <result column="REBATERATE" property="rebaterate" />
        <result column="MEMO" property="memo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PROTDTLID, PROTDOCID, GOODSID, REBATERATE, MEMO
    </sql>

</mapper>
