<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsStBoxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsStBox">
        <id column="BOXID" property="boxid" />
        <result column="IODTLID" property="iodtlid" />
        <result column="BOXNO" property="boxno" />
        <result column="CREDATE" property="credate" />
        <result column="INPUTMANID" property="inputmanid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BOXID, IODTLID, BOXNO, CREDATE, INPUTMANID
    </sql>

</mapper>
