<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSaConGoodsdtlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSaConGoodsdtl">
        <id column="CONGOODSDTLID" property="congoodsdtlid" />
        <result column="CONDTLID" property="condtlid" />
        <result column="GOODSID" property="goodsid" />
        <result column="GOODSDTLID" property="goodsdtlid" />
        <result column="LOTID" property="lotid" />
        <result column="BATCHID" property="batchid" />
        <result column="POSID" property="posid" />
        <result column="DTLGOODSQTY" property="dtlgoodsqty" />
        <result column="STORAGEID" property="storageid" />
        <result column="EXECFLAG" property="execflag" />
        <result column="SALESDTLID" property="salesdtlid" />
        <result column="GOODSSTATUSID" property="goodsstatusid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CONGOODSDTLID, CONDTLID, GOODSID, GOODSDTLID, LOTID, BATCHID, POSID, DTLGOODSQTY, STORAGEID, EXECFLAG, SALESDTLID, GOODSSTATUSID
    </sql>

</mapper>
