<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsStRgRefuseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsStRgRefuse">
        <id column="REFID" property="refid" />
        <result column="CREDATE" property="credate" />
        <result column="TRANSMANID" property="transmanid" />
        <result column="TRANSFLAG" property="transflag" />
        <result column="TRANSDATE" property="transdate" />
        <result column="RGGOODSDTLID" property="rggoodsdtlid" />
        <result column="TRANSTYPE" property="transtype" />
        <result column="COMEFROM" property="comefrom" />
        <result column="SOURCEID" property="sourceid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        REFID, CREDATE, TRANSMANID, TRANSFLAG, TRANSDATE, RGGOODSDTLID, TRANSTYPE, COMEFROM, SOURCEID
    </sql>

</mapper>
