<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSaInvPrintsiteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSaInvPrintsite">
        <id column="PRINTSITEID" property="printsiteid" />
        <result column="PRINTSITENAME" property="printsitename" />
        <result column="PRINTSITEOPCODE" property="printsiteopcode" />
        <result column="MEMO" property="memo" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="CREDATE" property="credate" />
        <result column="ENTRYID" property="entryid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PRINTSITEID, PRINTSITENAME, PRINTSITEOPCODE, MEMO, INPUTMANID, CREDATE, ENTRYID
    </sql>

</mapper>
