<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSaInvhangSetTmpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSaInvhangSetTmp">
        <id column="INVSETTMPID" property="invsettmpid" />
        <result column="INVSETID" property="invsetid" />
        <result column="INVRULEID" property="invruleid" />
        <result column="INVRULENAME" property="invrulename" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INVSETTMPID, INVSETID, INVRULEID, INVRULENAME
    </sql>

</mapper>
