<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsStMatchareaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsStMatcharea">
        <id column="MATCHAREAID" property="matchareaid" />
        <result column="MATCHAREANAME" property="matchareaname" />
        <result column="STORERID" property="storerid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MATCHAREAID, MATCHAREANAME, STORERID
    </sql>

</mapper>
