<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSuSetDocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSuSetDoc">
        <id column="SUSETDOCID" property="susetdocid" />
        <result column="CREDATE" property="credate" />
        <result column="SUPPLYID" property="supplyid" />
        <result column="SUPPLYNAME" property="supplyname" />
        <result column="TOTAL_IN" property="totalIn" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="CHECKDATE" property="checkdate" />
        <result column="CHECKMANID" property="checkmanid" />
        <result column="SETTLETYPEID" property="settletypeid" />
        <result column="MEMO" property="memo" />
        <result column="DTL_LINES" property="dtlLines" />
        <result column="SETTLEMODE" property="settlemode" />
        <result column="CERTID" property="certid" />
        <result column="USESTATUS" property="usestatus" />
        <result column="INITFLAG" property="initflag" />
        <result column="ENTRYID" property="entryid" />
        <result column="FMID" property="fmid" />
        <result column="EXCHANGE" property="exchange" />
        <result column="PRINTCOUNT" property="printcount" />
        <result column="PRINTMANID" property="printmanid" />
        <result column="PRINTDATE" property="printdate" />
        <result column="SETTYPE" property="settype" />
        <result column="AGENTID" property="agentid" />
        <result column="WFUSESTATUS" property="wfusestatus" />
        <result column="WFPROCESS" property="wfprocess" />
        <result column="WFMEMO" property="wfmemo" />
        <result column="COSTTYPE" property="costtype" />
        <result column="TAXRATEDOC" property="taxratedoc" />
        <result column="MAKEUPTYPE" property="makeuptype" />
        <result column="CONTACTID" property="contactid" />
        <result column="DRIVERNAME" property="drivername" />
        <result column="VEHICLENO" property="vehicleno" />
        <result column="DRIVERPHONE" property="driverphone" />
        <result column="ZX_DRIVERNAME" property="zxDrivername" />
        <result column="ZX_VEHICLENO" property="zxVehicleno" />
        <result column="ZX_DRIVERPHONE" property="zxDriverphone" />
        <result column="ZX_INITSATUS" property="zxInitsatus" />
        <result column="BAK" property="bak" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SUSETDOCID, CREDATE, SUPPLYID, SUPPLYNAME, TOTAL_IN, INPUTMANID, CHECKDATE, CHECKMANID, SETTLETYPEID, MEMO, DTL_LINES, SETTLEMODE, CERTID, USESTATUS, INITFLAG, ENTRYID, FMID, EXCHANGE, PRINTCOUNT, PRINTMANID, PRINTDATE, SETTYPE, AGENTID, WFUSESTATUS, WFPROCESS, WFMEMO, COSTTYPE, TAXRATEDOC, MAKEUPTYPE, CONTACTID, DRIVERNAME, VEHICLENO, DRIVERPHONE, ZX_DRIVERNAME, ZX_VEHICLENO, ZX_DRIVERPHONE, ZX_INITSATUS, BAK
    </sql>

</mapper>
