<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSuRebateInstanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSuRebateInstance">
        <id column="INSTANCEID" property="instanceid" />
        <result column="ENTRYID" property="entryid" />
        <result column="REBATEDOCID" property="rebatedocid" />
        <result column="CALCFREQUENCY" property="calcfrequency" />
        <result column="STARTDATE" property="startdate" />
        <result column="ENDDATE" property="enddate" />
        <result column="FINALCALCMETHOD" property="finalcalcmethod" />
        <result column="FINALCALCDATE" property="finalcalcdate" />
        <result column="FINALCALCMANID" property="finalcalcmanid" />
        <result column="AUTOCALCDATE" property="autocalcdate" />
        <result column="CREDATE" property="credate" />
        <result column="CALCINFO" property="calcinfo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INSTANCEID, ENTRYID, REBATEDOCID, CALCFREQUENCY, STARTDATE, ENDDATE, FINALCALCMETHOD, FINALCALCDATE, FINALCALCMANID, AUTOCALCDATE, CREDATE, CALCINFO
    </sql>

</mapper>
