<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSuPayplanDtlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSuPayplanDtl">
        <id column="PAYPLANDTLID" property="payplandtlid" />
        <result column="PAYPLANID" property="payplanid" />
        <result column="PAYMETHOD" property="paymethod" />
        <result column="PAYLIMIT" property="paylimit" />
        <result column="GOODSID" property="goodsid" />
        <result column="PLANGOODSQTY" property="plangoodsqty" />
        <result column="PLANPAYAMT" property="planpayamt" />
        <result column="SUSETDTLID" property="susetdtlid" />
        <result column="DTLMEMO" property="dtlmemo" />
        <result column="THISEXECAMT" property="thisexecamt" />
        <result column="PLNPAYDATE" property="plnpaydate" />
        <result column="INVALIDFLAG" property="invalidflag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PAYPLANID, PAYPLANDTLID, PAYMETHOD, PAYLIMIT, GOODSID, PLANGOODSQTY, PLANPAYAMT, SUSETDTLID, DTLMEMO, THISEXECAMT, PLNPAYDATE, INVALIDFLAG
    </sql>

</mapper>
