<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSupayImpTmpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSupayImpTmp">
        <id column="TMPID" property="tmpid" />
        <result column="DOCID" property="docid" />
        <result column="IMPFLAG" property="impflag" />
        <result column="ERRORMESSAGE" property="errormessage" />
        <result column="CREDATE" property="credate" />
        <result column="BANKDOCNO" property="bankdocno" />
        <result column="SETTLETYPEID" property="settletypeid" />
        <result column="SETTLETYPE" property="settletype" />
        <result column="SUPPLYID" property="supplyid" />
        <result column="SUPPLYNAME" property="supplyname" />
        <result column="TOAL_OUT" property="toalOut" />
        <result column="BANKID" property="bankid" />
        <result column="BANKNAME" property="bankname" />
        <result column="AGENTID" property="agentid" />
        <result column="AGENTNAME" property="agentname" />
        <result column="ENTRYID" property="entryid" />
        <result column="ENTRYNAME" property="entryname" />
        <result column="EMPLOYEEID" property="employeeid" />
        <result column="EMPLOYEENAME" property="employeename" />
        <result column="ZXCOLNUM1" property="zxcolnum1" />
        <result column="ZXCOLNUM2" property="zxcolnum2" />
        <result column="ZXCOLNUM3" property="zxcolnum3" />
        <result column="ZXCOLNUM4" property="zxcolnum4" />
        <result column="ZXCOLNUM5" property="zxcolnum5" />
        <result column="ZXCOLNUM6" property="zxcolnum6" />
        <result column="ZXCOLNUM7" property="zxcolnum7" />
        <result column="ZXCOLNUM8" property="zxcolnum8" />
        <result column="ZXCOLNUM9" property="zxcolnum9" />
        <result column="ZXCOLNUM10" property="zxcolnum10" />
        <result column="ACCNO" property="accno" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TMPID, DOCID, IMPFLAG, ERRORMESSAGE, CREDATE, BANKDOCNO, SETTLETYPEID, SETTLETYPE, SUPPLYID, SUPPLYNAME, TOAL_OUT, BANKID, BANKNAME, AGENTID, AGENTNAME, ENTRYID, ENTRYNAME, EMPLOYEEID, EMPLOYEENAME, ZXCOLNUM1, ZXCOLNUM2, ZXCOLNUM3, ZXCOLNUM4, ZXCOLNUM5, ZXCOLNUM6, ZXCOLNUM7, ZXCOLNUM8, ZXCOLNUM9, ZXCOLNUM10, ACCNO
    </sql>

</mapper>
