<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSusetImpTmpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSusetImpTmp">
        <id column="TMPID" property="tmpid" />
        <result column="DOCID" property="docid" />
        <result column="IMPFLAG" property="impflag" />
        <result column="ERRORMESSAGE" property="errormessage" />
        <result column="CREDATE" property="credate" />
        <result column="SUPPLYID" property="supplyid" />
        <result column="SUPPLYNAME" property="supplyname" />
        <result column="AGENTID" property="agentid" />
        <result column="AGENTMAN" property="agentman" />
        <result column="ENTRYID" property="entryid" />
        <result column="ENTRYNAME" property="entryname" />
        <result column="SETTLEMODENAME" property="settlemodename" />
        <result column="SETTLEMODE" property="settlemode" />
        <result column="SETTLETYPEID" property="settletypeid" />
        <result column="SETTLETYPE" property="settletype" />
        <result column="FMID" property="fmid" />
        <result column="EXCHANGE" property="exchange" />
        <result column="GOODSID" property="goodsid" />
        <result column="GOODSNAME" property="goodsname" />
        <result column="SUPPLYERID" property="supplyerid" />
        <result column="SUPPLYERNAME" property="supplyername" />
        <result column="GOODSQTY" property="goodsqty" />
        <result column="UNITPRICE" property="unitprice" />
        <result column="TOTAL_LINE" property="totalLine" />
        <result column="TAXRATE" property="taxrate" />
        <result column="COSTPRICE" property="costprice" />
        <result column="COST" property="cost" />
        <result column="PAYMODE" property="paymode" />
        <result column="PAYMODENAME" property="paymodename" />
        <result column="PAYLIMIT" property="paylimit" />
        <result column="INVDATE" property="invdate" />
        <result column="INVNO" property="invno" />
        <result column="ZXCOLNUM1" property="zxcolnum1" />
        <result column="ZXCOLNUM2" property="zxcolnum2" />
        <result column="ZXCOLNUM3" property="zxcolnum3" />
        <result column="ZXCOLNUM4" property="zxcolnum4" />
        <result column="ZXCOLNUM5" property="zxcolnum5" />
        <result column="ZXCOLNUM6" property="zxcolnum6" />
        <result column="ZXCOLNUM7" property="zxcolnum7" />
        <result column="ZXCOLNUM8" property="zxcolnum8" />
        <result column="ZXCOLNUM9" property="zxcolnum9" />
        <result column="ZXCOLNUM10" property="zxcolnum10" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TMPID, DOCID, IMPFLAG, ERRORMESSAGE, CREDATE, SUPPLYID, SUPPLYNAME, AGENTID, AGENTMAN, ENTRYID, ENTRYNAME, SETTLEMODENAME, SETTLEMODE, SETTLETYPEID, SETTLETYPE, FMID, EXCHANGE, GOODSID, GOODSNAME, SUPPLYERID, SUPPLYERNAME, GOODSQTY, UNITPRICE, TOTAL_LINE, TAXRATE, COSTPRICE, COST, PAYMODE, PAYMODENAME, PAYLIMIT, INVDATE, INVNO, ZXCOLNUM1, ZXCOLNUM2, ZXCOLNUM3, ZXCOLNUM4, ZXCOLNUM5, ZXCOLNUM6, ZXCOLNUM7, ZXCOLNUM8, ZXCOLNUM9, ZXCOLNUM10
    </sql>

</mapper>
