<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsSaAllotqtyDefDtlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsSaAllotqtyDefDtl">
        <id column="DEFDTLID" property="defdtlid" />
        <result column="DEFDOCID" property="defdocid" />
        <result column="CUSTOMID" property="customid" />
        <result column="ALLOTQTY" property="allotqty" />
        <result column="ACCSAQTY" property="accsaqty" />
        <result column="MODIFYMANID" property="modifymanid" />
        <result column="MODIFYDATE" property="modifydate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEFDTLID, DEFDOCID, CUSTOMID, ALLOTQTY, ACCSAQTY, MODIFYMANID, MODIFYDATE
    </sql>

</mapper>
