<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsStFixSysModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsStFixSysModel">
        <id column="MODELID" property="modelid" />
        <result column="FIXMODELNAME" property="fixmodelname" />
        <result column="SELECTBITMAP" property="selectbitmap" />
        <result column="SELECTCLAUSE" property="selectclause" />
        <result column="HAVINGCLAUSE" property="havingclause" />
        <result column="GROUPBYCLAUSE" property="groupbyclause" />
        <result column="ORDERBYCLAUSE" property="orderbyclause" />
        <result column="MEMO" property="memo" />
        <result column="QUONDAMID" property="quondamid" />
        <result column="PLACEPOINTID" property="placepointid" />
        <result column="STORAGEID" property="storageid" />
        <result column="QUBUFFID" property="qubuffid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MODELID, FIXMODELNAME, SELECTBITMAP, SELECTCLAUSE, HAVINGCLAUSE, GROUPBYCLAUSE, ORDERBYCLAUSE, MEMO, QUONDAMID, PLACEPOINTID, STORAGEID, QUBUFFID
    </sql>

</mapper>
