<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsTozwConfigDocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsTozwConfigDoc">
        <id column="DOCID" property="docid" />
        <result column="ENTRYID" property="entryid" />
        <result column="ACCCODE" property="acccode" />
        <result column="ACCNAME" property="accname" />
        <result column="ACCYEAR" property="accyear" />
        <result column="ENTRYNAME" property="entryname" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DOCID, ENTRYID, ACCCODE, ACCNAME, ACCYEAR, ENTRYNAME
    </sql>

</mapper>
