<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsTrBackTriggerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsTrBackTrigger">
        <result column="SEQID" property="seqid" />
        <result column="CREDATE" property="credate" />
        <result column="TYPE" property="type" />
        <result column="TRDTLID" property="trdtlid" />
        <result column="COMEFROM" property="comefrom" />
        <result column="SOURCEID" property="sourceid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEQID, CREDATE, TYPE, TRDTLID, COMEFROM, SOURCEID
    </sql>

</mapper>
