<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsTrPickToManMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsTrPickToMan">
        <id column="PICKDOCID" property="pickdocid" />
        <result column="PICKMANID" property="pickmanid" />
        <result column="PACKQTY" property="packqty" />
        <result column="WEIGHT" property="weight" />
        <result column="MEMO" property="memo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PICKDOCID, PICKMANID, PACKQTY, WEIGHT, MEMO
    </sql>

</mapper>
