<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsUpTaskDocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsUpTaskDoc">
        <id column="TASKID" property="taskid" />
        <result column="STHOUSEID" property="sthouseid" />
        <result column="RGID" property="rgid" />
        <result column="COMPANYID" property="companyid" />
        <result column="PRINTCOUNT" property="printcount" />
        <result column="PRINTDATE" property="printdate" />
        <result column="PRINTMANID" property="printmanid" />
        <result column="USESTATUS" property="usestatus" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="CREDATE" property="credate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TASKID, STHOUSEID, RGID, COMPANYID, PRINTCOUNT, PRINTDATE, PRINTMANID, USESTATUS, INPUTMANID, CREDATE
    </sql>

</mapper>
