<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsZwCheckSqlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsZwCheckSql">
        <id column="CHECKED" property="checked" />
        <result column="CHECKTYPE" property="checktype" />
        <result column="SQLTYPE" property="sqltype" />
        <result column="CELLAREA" property="cellarea" />
        <result column="SQLMEMO" property="sqlmemo" />
        <result column="TYPEID" property="typeid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CHECKED, CHECKTYPE, SQLTYPE, CELLAREA, SQLMEMO, TYPEID
    </sql>

</mapper>
