<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.BmsZtlinSkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.BmsZtlinSk">
        <id column="TAB_ID" property="tabId" />
        <result column="CREDATE" property="credate" />
        <result column="CUSTOMID" property="customid" />
        <result column="CUSTOMNAME" property="customname" />
        <result column="SALERID" property="salerid" />
        <result column="SALERNAME" property="salername" />
        <result column="TOTAL" property="total" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TAB_ID, CREDATE, CUSTOMID, CUSTOMNAME, SALERID, SALERNAME, TOTAL
    </sql>

</mapper>
