<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubAppRetailsalesAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubAppRetailsalesArea">
        <id column="SEQID" property="seqid" />
        <result column="MONEY" property="money" />
        <result column="INSIDERMONEY" property="insidermoney" />
        <result column="RETAILCENTERID" property="retailcenterid" />
        <result column="AREADOCID" property="areadocid" />
        <result column="CUSTOMERQTY" property="customerqty" />
        <result column="INSIDERQTY" property="insiderqty" />
        <result column="CREDATE" property="credate" />
        <result column="GROSS" property="gross" />
        <result column="INSIDERGROSS" property="insidergross" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEQID, MONEY, INSIDERMONEY, RETAILCENTERID, AREADOCID, CUSTOMERQTY, INSIDERQTY, CREDATE, GROSS, INSIDERGROSS
    </sql>

</mapper>
