<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubAppRetailcashierMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubAppRetailcashier">
        <id column="SEQID" property="seqid" />
        <result column="MONEY" property="money" />
        <result column="CREDATE" property="credate" />
        <result column="GROSS" property="gross" />
        <result column="CASHIERID" property="cashierid" />
        <result column="CASHIERNAME" property="cashiername" />
        <result column="PLACEPOINTID" property="placepointid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEQID, MONEY, CREDATE, GROSS, CASHIERID, CASHIERNAME, PLACEPOINTID
    </sql>

</mapper>
