<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubAppMessageEmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubAppMessageEmployee">
        <id column="SEQID" property="seqid" />
        <result column="READDATE" property="readdate" />
        <result column="EMPLOYEEID" property="employeeid" />
        <result column="READUSESTATUS" property="readusestatus" />
        <result column="MESSAGEID" property="messageid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEQID, READDATE, EMPLOYEEID, READUSESTATUS, MESSAGEID
    </sql>

</mapper>
