<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubAppCenterMonthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubAppCenterMonth">
        <result column="SEQID" property="seqid" />
        <result column="RETAILCENTERID" property="retailcenterid" />
        <result column="MONEY" property="money" />
        <result column="GROSS" property="gross" />
        <result column="STOCKMONEY" property="stockmoney" />
        <result column="CUSTOMERQTY" property="customerqty" />
        <result column="REQQTY" property="reqqty" />
        <result column="SUPQTY" property="supqty" />
        <result column="CREDATE" property="credate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEQID, RETAILCENTERID, MONEY, GROSS, STOCKMONEY, CUSTOMERQTY, REQQTY, SUPQTY, CREDATE
    </sql>

</mapper>
