<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubAppSignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubAppSign">
        <id column="SIGNID" property="signid" />
        <result column="EMPLOYEEID" property="employeeid" />
        <result column="SIGNTIME" property="signtime" />
        <result column="PLACE" property="place" />
        <result column="MEMO" property="memo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SIGNID, EMPLOYEEID, SIGNTIME, PLACE, MEMO
    </sql>

</mapper>
