<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubBidPriceDtlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubBidPriceDtl">
        <id column="BIDDTLID" property="biddtlid" />
        <result column="BIDID" property="bidid" />
        <result column="GOODSID" property="goodsid" />
        <result column="PRICE" property="price" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BIDDTLID, BIDID, GOODSID, PRICE
    </sql>

</mapper>
