<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubCompanyToAgentTmpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubCompanyToAgentTmp">
        <id column="SEQID" property="seqid" />
        <result column="COMPANYID" property="companyid" />
        <result column="AGENTID" property="agentid" />
        <result column="TYPE" property="type" />
        <result column="ENTRYID" property="entryid" />
        <result column="CTRLTYPE" property="ctrltype" />
        <result column="DATEFROM" property="datefrom" />
        <result column="DATETO" property="dateto" />
        <result column="MEMO" property="memo" />
        <result column="FILECOUNT" property="filecount" />
        <result column="USESTATUS" property="usestatus" />
        <result column="FORBIDBACK" property="forbidback" />
        <result column="FORBIDBUSINESS" property="forbidbusiness" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        COMPANYID, AGENTID, TYPE, SEQID, ENTRYID, CTRLTYPE, DATEFROM, DATETO, MEMO, FILECOUNT, USESTATUS, FORBIDBACK, FORBIDBUSINESS
    </sql>

</mapper>
