<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubCaApproveDocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubCaApproveDoc">
        <id column="APPROVEID" property="approveid" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="CREDATE" property="credate" />
        <result column="APPROVESTATUS" property="approvestatus" />
        <result column="APPROVEMANID" property="approvemanid" />
        <result column="APPROVEDATE" property="approvedate" />
        <result column="APPROVEMEMO" property="approvememo" />
        <result column="CONTENT" property="content" />
        <result column="CAID" property="caid" />
        <result column="COMPANYID" property="companyid" />
        <result column="TYPE" property="type" />
        <result column="ENTRYID" property="entryid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        APPROVEID, INPUTMANID, CREDATE, APPROVESTATUS, APPROVEMANID, APPROVEDATE, APPROVEMEMO, CONTENT, CAID, COMPANYID, TYPE, ENTRYID
    </sql>

</mapper>
