<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubCompanySetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubCompanySet">
        <id column="SETID" property="setid" />
        <result column="SETOPCODE" property="setopcode" />
        <result column="SETNAME" property="setname" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="CREDATE" property="credate" />
        <result column="USESTATUS" property="usestatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SETID, SETOPCODE, SETNAME, INPUTMANID, CREDATE, USESTATUS
    </sql>

</mapper>
