<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubDeptSupplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubDeptSupply">
        <id column="SUDEPTID" property="sudeptid" />
        <result column="SUDEPTOPCODE" property="sudeptopcode" />
        <result column="SUDEPTNO" property="sudeptno" />
        <result column="SUDEPTNAME" property="sudeptname" />
        <result column="MASTERID" property="masterid" />
        <result column="USESTATUS" property="usestatus" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="CREDATE" property="credate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SUDEPTID, SUDEPTOPCODE, SUDEPTNO, SUDEPTNAME, MASTERID, USESTATUS, INPUTMANID, CREDATE
    </sql>

</mapper>
