<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubDriverDefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubDriverDef">
        <id column="DRIVERID" property="driverid" />
        <result column="LICENSENO" property="licenseno" />
        <result column="LICENSETYPE" property="licensetype" />
        <result column="VALIDDATE" property="validdate" />
        <result column="MEMO" property="memo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DRIVERID, LICENSENO, LICENSETYPE, VALIDDATE, MEMO
    </sql>

</mapper>
