<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubDdlDtlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubDdlDtl">
        <id column="SYSDTLID" property="sysdtlid" />
        <result column="SYSID" property="sysid" />
        <result column="DDLID" property="ddlid" />
        <result column="DDLNAME" property="ddlname" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SYSID, SYSDTLID, DDLID, DDLNAME
    </sql>

</mapper>
