<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubEmployeeRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubEmployeeRole">
        <id column="EMPROLEID" property="emproleid" />
        <result column="EMPLOYEEID" property="employeeid" />
        <result column="ROLEID" property="roleid" />
        <result column="EMPROLESORTNUM" property="emprolesortnum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        EMPROLEID, EMPLOYEEID, ROLEID, EMPROLESORTNUM
    </sql>

</mapper>
