<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubGoodsTestDocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubGoodsTestDoc">
        <id column="GOODSID" property="goodsid" />
        <result column="GOODSNAME" property="goodsname" />
        <result column="GSPFLAG" property="gspflag" />
        <result column="FACTORYID" property="factoryid" />
        <result column="GSPCATEGORYID" property="gspcategoryid" />
        <result column="USESTATUS" property="usestatus" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="CREDATE" property="credate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        GOODSID, GOODSNAME, GSPFLAG, FACTORYID, GSPCATEGORYID, USESTATUS, INPUTMANID, CREDATE
    </sql>

</mapper>
