<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubGoodsstatusMatchcodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubGoodsstatusMatchcode">
        <id column="ID" property="id" />
        <result column="GOODSSTATUSID" property="goodsstatusid" />
        <result column="WMSGSTATUSCODE" property="wmsgstatuscode" />
        <result column="WMSGSTATUS" property="wmsgstatus" />
        <result column="ENTRYID" property="entryid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, GOODSSTATUSID, WMSGSTATUSCODE, WMSGSTATUS, ENTRYID
    </sql>

</mapper>
