<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubImpSupplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubImpSupply">
        <id column="DTLID" property="dtlid" />
        <result column="DOCID" property="docid" />
        <result column="IMPSTATUS" property="impstatus" />
        <result column="ERRORMESSAGE" property="errormessage" />
        <result column="NEWID" property="newid" />
        <result column="SUPPLYNAME" property="supplyname" />
        <result column="SUPPLYOPCODE" property="supplyopcode" />
        <result column="SUPPLYPINYIN" property="supplypinyin" />
        <result column="SUPPLYNO" property="supplyno" />
        <result column="CORPCODE" property="corpcode" />
        <result column="GSPFLAG" property="gspflag" />
        <result column="GSPCATEGORYNAME" property="gspcategoryname" />
        <result column="IMPORTFLAG" property="importflag" />
        <result column="ISFARMERFLAG" property="isfarmerflag" />
        <result column="TAXNUMBER" property="taxnumber" />
        <result column="ZONE" property="zone" />
        <result column="LEGALPERSON" property="legalperson" />
        <result column="CITYNAME" property="cityname" />
        <result column="COUNTRYNAME" property="countryname" />
        <result column="REGISTADD" property="registadd" />
        <result column="ADDRESS" property="address" />
        <result column="MEDICODE" property="medicode" />
        <result column="SUPPLYMEMO" property="supplymemo" />
        <result column="USESTATUSNAME" property="usestatusname" />
        <result column="CREDATE" property="credate" />
        <result column="INPUTMANNAME" property="inputmanname" />
        <result column="FMNAME" property="fmname" />
        <result column="ZXCOLUMN01" property="zxcolumn01" />
        <result column="ZXCOLUMN02" property="zxcolumn02" />
        <result column="ZXCOLUMN03" property="zxcolumn03" />
        <result column="ZXCOLUMN04" property="zxcolumn04" />
        <result column="ZXCOLUMN05" property="zxcolumn05" />
        <result column="ZXCOLUMN06" property="zxcolumn06" />
        <result column="ZXCOLUMN07" property="zxcolumn07" />
        <result column="ZXCOLUMN08" property="zxcolumn08" />
        <result column="ZXCOLUMN09" property="zxcolumn09" />
        <result column="ZXCOLUMN10" property="zxcolumn10" />
        <result column="ZXCOLUMN11" property="zxcolumn11" />
        <result column="ZXCOLUMN12" property="zxcolumn12" />
        <result column="ZXCOLUMN13" property="zxcolumn13" />
        <result column="ZXCOLUMN14" property="zxcolumn14" />
        <result column="ZXCOLUMN15" property="zxcolumn15" />
        <result column="ZXCOLUMN16" property="zxcolumn16" />
        <result column="ZXCOLUMN17" property="zxcolumn17" />
        <result column="ZXCOLUMN18" property="zxcolumn18" />
        <result column="ZXCOLUMN19" property="zxcolumn19" />
        <result column="ZXCOLUMN20" property="zxcolumn20" />
        <result column="CATEGORYID" property="categoryid" />
        <result column="CITYID" property="cityid" />
        <result column="COUNTRYID" property="countryid" />
        <result column="USESTATUS" property="usestatus" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="FMID" property="fmid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DOCID, DTLID, IMPSTATUS, ERRORMESSAGE, NEWID, SUPPLYNAME, SUPPLYOPCODE, SUPPLYPINYIN, SUPPLYNO, CORPCODE, GSPFLAG, GSPCATEGORYNAME, IMPORTFLAG, ISFARMERFLAG, TAXNUMBER, ZONE, LEGALPERSON, CITYNAME, COUNTRYNAME, REGISTADD, ADDRESS, MEDICODE, SUPPLYMEMO, USESTATUSNAME, CREDATE, INPUTMANNAME, FMNAME, ZXCOLUMN01, ZXCOLUMN02, ZXCOLUMN03, ZXCOLUMN04, ZXCOLUMN05, ZXCOLUMN06, ZXCOLUMN07, ZXCOLUMN08, ZXCOLUMN09, ZXCOLUMN10, ZXCOLUMN11, ZXCOLUMN12, ZXCOLUMN13, ZXCOLUMN14, ZXCOLUMN15, ZXCOLUMN16, ZXCOLUMN17, ZXCOLUMN18, ZXCOLUMN19, ZXCOLUMN20, CATEGORYID, CITYID, COUNTRYID, USESTATUS, INPUTMANID, FMID
    </sql>

</mapper>
