<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubImpStQtyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubImpStQty">
        <id column="DTLID" property="dtlid" />
        <result column="DOCID" property="docid" />
        <result column="IMPSTATUS" property="impstatus" />
        <result column="ERRORMESSAGE" property="errormessage" />
        <result column="NEWID" property="newid" />
        <result column="STORAGENAME" property="storagename" />
        <result column="GOODSNAME" property="goodsname" />
        <result column="CURRENCYNAME" property="currencyname" />
        <result column="GOODSTYPE" property="goodstype" />
        <result column="GOODSUNIT" property="goodsunit" />
        <result column="FACTORYNAME" property="factoryname" />
        <result column="PRODAREA" property="prodarea" />
        <result column="PACKNAME" property="packname" />
        <result column="PACKSIZE" property="packsize" />
        <result column="GOODSQTY" property="goodsqty" />
        <result column="LOTNO" property="lotno" />
        <result column="KILLLOTNO" property="killlotno" />
        <result column="PRODDATE" property="proddate" />
        <result column="INVALIDDATE" property="invaliddate" />
        <result column="KILLDATE" property="killdate" />
        <result column="APPROVEDOCNO" property="approvedocno" />
        <result column="REGISTDOCNO" property="registdocno" />
        <result column="LOTFACTORYNAME" property="lotfactoryname" />
        <result column="PRINTSET" property="printset" />
        <result column="POSNO" property="posno" />
        <result column="GOODSSTATUS" property="goodsstatus" />
        <result column="SUPPLYNAME" property="supplyname" />
        <result column="AGENTNAME" property="agentname" />
        <result column="SUPPLYERNAME" property="supplyername" />
        <result column="UNITPRICE" property="unitprice" />
        <result column="ZXCOLUMN01" property="zxcolumn01" />
        <result column="ZXCOLUMN02" property="zxcolumn02" />
        <result column="ZXCOLUMN03" property="zxcolumn03" />
        <result column="ZXCOLUMN04" property="zxcolumn04" />
        <result column="ZXCOLUMN05" property="zxcolumn05" />
        <result column="ZXCOLUMN06" property="zxcolumn06" />
        <result column="ZXCOLUMN07" property="zxcolumn07" />
        <result column="ZXCOLUMN08" property="zxcolumn08" />
        <result column="ZXCOLUMN09" property="zxcolumn09" />
        <result column="ZXCOLUMN10" property="zxcolumn10" />
        <result column="ZXCOLUMN11" property="zxcolumn11" />
        <result column="ZXCOLUMN12" property="zxcolumn12" />
        <result column="ZXCOLUMN13" property="zxcolumn13" />
        <result column="ZXCOLUMN14" property="zxcolumn14" />
        <result column="ZXCOLUMN15" property="zxcolumn15" />
        <result column="ZXCOLUMN16" property="zxcolumn16" />
        <result column="ZXCOLUMN17" property="zxcolumn17" />
        <result column="ZXCOLUMN18" property="zxcolumn18" />
        <result column="ZXCOLUMN19" property="zxcolumn19" />
        <result column="ZXCOLUMN20" property="zxcolumn20" />
        <result column="STORAGEID" property="storageid" />
        <result column="GOODSID" property="goodsid" />
        <result column="GOODSDTLID" property="goodsdtlid" />
        <result column="LOTID" property="lotid" />
        <result column="POSID" property="posid" />
        <result column="GOODSSTATUSID" property="goodsstatusid" />
        <result column="SUPPLYID" property="supplyid" />
        <result column="SUPPLYERID" property="supplyerid" />
        <result column="AGENTID" property="agentid" />
        <result column="ENTRYID" property="entryid" />
        <result column="SUPPLYTAXRATE" property="supplytaxrate" />
        <result column="COSTINGPRICE" property="costingprice" />
        <result column="SUDATE" property="sudate" />
        <result column="LOTFLAG" property="lotflag" />
        <result column="FACTORYFLAG" property="factoryflag" />
        <result column="PRODAREAFLAG" property="prodareaflag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DOCID, DTLID, IMPSTATUS, ERRORMESSAGE, NEWID, STORAGENAME, GOODSNAME, CURRENCYNAME, GOODSTYPE, GOODSUNIT, FACTORYNAME, PRODAREA, PACKNAME, PACKSIZE, GOODSQTY, LOTNO, KILLLOTNO, PRODDATE, INVALIDDATE, KILLDATE, APPROVEDOCNO, REGISTDOCNO, LOTFACTORYNAME, PRINTSET, POSNO, GOODSSTATUS, SUPPLYNAME, AGENTNAME, SUPPLYERNAME, UNITPRICE, ZXCOLUMN01, ZXCOLUMN02, ZXCOLUMN03, ZXCOLUMN04, ZXCOLUMN05, ZXCOLUMN06, ZXCOLUMN07, ZXCOLUMN08, ZXCOLUMN09, ZXCOLUMN10, ZXCOLUMN11, ZXCOLUMN12, ZXCOLUMN13, ZXCOLUMN14, ZXCOLUMN15, ZXCOLUMN16, ZXCOLUMN17, ZXCOLUMN18, ZXCOLUMN19, ZXCOLUMN20, STORAGEID, GOODSID, GOODSDTLID, LOTID, POSID, GOODSSTATUSID, SUPPLYID, SUPPLYERID, AGENTID, ENTRYID, SUPPLYTAXRATE, COSTINGPRICE, SUDATE, LOTFLAG, FACTORYFLAG, PRODAREAFLAG
    </sql>

</mapper>
