<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubOptionsMatchcodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubOptionsMatchcode">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="TABLECOLUMN" property="tablecolumn" />
        <result column="VALUE" property="value" />
        <result column="OPTIONNAME" property="optionname" />
        <result column="WMSVALUE" property="wmsvalue" />
        <result column="WMSNAME" property="wmsname" />
        <result column="ENTRYID" property="entryid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NAME, TABLECOLUMN, VALUE, OPTIONNAME, WMSVALUE, WMSNAME, ENTRYID
    </sql>

</mapper>
