<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubProvinceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubProvince">
        <id column="PROVINCEID" property="provinceid" />
        <result column="PROVINCENAME" property="provincename" />
        <result column="PROVINCEPINYIN" property="provincepinyin" />
        <result column="PROVINCEOPCODE" property="provinceopcode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PROVINCEID, PROVINCENAME, PROVINCEPINYIN, PROVINCEOPCODE
    </sql>

</mapper>
