<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubSettletypeDdlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubSettletypeDdl">
        <id column="SETTLETYPEID" property="settletypeid" />
        <result column="SETTLETYPE" property="settletype" />
        <result column="SETTLEFLAG" property="settleflag" />
        <result column="CASHFLAG" property="cashflag" />
        <result column="USEFORSU" property="useforsu" />
        <result column="USEFORSAL" property="useforsal" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SETTLETYPEID, SETTLETYPE, SETTLEFLAG, CASHFLAG, USEFORSU, USEFORSAL
    </sql>

</mapper>
