<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubSupplyVarietyDescMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubSupplyVarietyDesc">
        <id column="DESCID" property="descid" />
        <result column="VARIETYID" property="varietyid" />
        <result column="DESCSEQ" property="descseq" />
        <result column="DESCR" property="descr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        VARIETYID, DESCID, DESCSEQ, DESCR
    </sql>

</mapper>
