<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.order.inca.mapper.PubSupplyClassCheckMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.order.entity.PubSupplyClassCheck">
        <id column="CHEID" property="cheid" />
        <result column="CLASSTYPEID" property="classtypeid" />
        <result column="INPUTMANID" property="inputmanid" />
        <result column="CREDATE" property="credate" />
        <result column="SUPPLYISABLEREQ" property="supplyisablereq" />
        <result column="CONMODE" property="conmode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CHEID, CLASSTYPEID, INPUTMANID, CREDATE, SUPPLYISABLEREQ, CONMODE
    </sql>

</mapper>
