#idea
.idea
*.iml
*.ipr
*.iws
out

#gradle
.gradle
build
bin
gradle.properties


#eclipse
.classpath
.project
.settings
classes

#log
logs

## fontend
bower_components
node_modules

# git
*.orig


package-lock.json

resources-*

target

stdout.log