<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.inca.mapper.BmsLotDefMapper">

    <update id="updateBy">
update bms_lot_def a
set a.proddate    = to_date(#{proddate}, 'yyyy-mm-dd HH24:mi:ss'),
   a.invaliddate = to_date(#{invaliddate}, 'yyyy-mm-dd HH24:mi:ss')
where lotid =#{lotId}
    </update>
</mapper>
