<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.inca.mapper.BmsStIoDocMapper">
    <insert id="save" parameterType="com.zsyc.zt.inca.entity.BmsStIoDoc">
        insert into bms_st_io_doc (inoutid ,
trdtlid ,
printno ,
printline  ,
credate   ,
comefrom  ,
sourcetable,
sourceid ,
companyid ,
companyname ,
keepdate ,
keepmanid  ,
goodsid ,
storageid ,
inoutflag ,
inqty ,
outqty ,
oldqty ,
goodsunit ,
goodsweight,
usestatus ,
entryid  ,
preparestatus ,
placetable ,
placedtlid ,
placepointid ,
memo,
grouptable ,
groupdtlid ,
groupcustomerid ,
wmsproflag,
gspunconfirmflag,
upstatus,
rgdtlid,agentid,contactid,ctrltwoinvflag) select inoutid ,
trdtlid ,
printno ,
printline  ,
credate   ,
comefrom  ,
sourcetable,
sourceid ,
companyid ,
companyname ,
keepdate ,
keepmanid  ,
goodsid ,
storageid ,
inoutflag ,
inqty ,
outqty ,
oldqty ,
goodsunit ,
goodsweight,
usestatus ,
entryid  ,
preparestatus ,
placetable ,
placedtlid ,
placepointid ,
memo,
grouptable ,
groupdtlid ,
groupcustomerid ,
wmsproflag,
gspunconfirmflag,
upstatus,
rgdtlid,agentid,contactid,ctrltwoinvflag from bms_st_io_doc_tmp where inoutid =#{inoutId};

    </insert>

</mapper>
