<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.inca.mapper.BmsSaToSaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsyc.zt.inca.entity.BmsSaToSa">
        <id column="SADTLID1" property="sadtlid1" />
        <result column="SADTLID2" property="sadtlid2" />
        <result column="GOODSQTY" property="goodsqty" />
        <result column="IODTLID" property="iodtlid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SADTLID1, SADTLID2, GOODSQTY, IODTLID
    </sql>

</mapper>
