<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.b2b.mapper.GoodsMapper">
    <select id="getGoodsInfoListReturnName" resultType="com.zsyc.zt.b2b.vo.SearchTipsVo">
        select
        distinct GOODSNAME as goodsname, --通用名
        CURRENCYNAME as currencyname,--商品名
        GOODSID as goodsid, --商品id
        GOODSTYPE as goodstype,--规格
        GOODSUNIT as goodsunit, --基本单位
        FACTORYNAME as factoryname, --厂家名称
        BARCODE as barcode, --条形码
        STORAGEID as storageid --保管账id
        from (select gv.*
        from ERP_GOODS_V gv
        LEFT JOIN erp_goods_price_v gpv ON gpv.goodsid = gv.goodsid and gpv.customid = #{memberId}
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            gv.GOODSID in (select ccg.goods_id from CACHE_CUSTOMER_GOODS ccg where ccg.customer_id = gpv.CUSTOMID)
            <if test="goodspinyin != null and goodspinyin != ''">
                and (UPPER(gv.GOODSNAME) like '%'||UPPER(#{goodspinyin})||'%'
                or UPPER(gv.GOODSID) like '%'||UPPER(#{goodspinyin})||'%')

                order by (case
                when UPPER(gv.GOODSNAME) = UPPER(#{goodspinyin}) then 2
                when UPPER(gv.GOODSID) = UPPER(#{goodspinyin}) then 1
                else 0 end))
            </if>
        </trim>
        where rownum &lt; 6
    </select>
</mapper>
