<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyc.zt.b2b.mapper.ReasonMapper">
    <select id="getReasonList" resultType="com.zsyc.zt.b2b.entity.Reason">
        select * from REASON
        where IS_DEL = 0
        order by SORT desc
    </select>
</mapper>
